*.exe
*.y4m
*.bgr
*.bgra
*.yuv
*.raw
*.wav
*.pcm

*.log

*.avs
*.avsi
*.avi
*.flv
*.mp4
*.mov
*.nut
*.3gp
*.3g2
*.mkv
*.264
*.h264

*.zip
*.lzh
*.7z
*.rar
*.gz
*.bz2
*.xz
*.lzma

*.diff
*.patch

*.db
*.opendb
*.sln
*.filters
*.user
*.aps

archives/*

/vs2022/.vs/
/vs2022/avs2pipemod/
/vs2022/x64/
