*.exe
*.y4m
*.bgr
*.bgra
*.yuv
*.raw
*.wav
*.pcm

*.log

*.avs
*.avsi
*.avi
*.flv
*.mp4
*.mov
*.nut
*.3gp
*.3g2
*.mkv
*.264
*.h264

*.zip
*.lzh
*.7z
*.rar
*.gz
*.bz2
*.xz
*.lzma

*.diff
*.patch

*.db
*.opendb
*.sln
*.filters

vs2015/Release/*
vs2015/Debug/*
vs2015/x64/*
vs2015/.vs/*
archives/*